*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.container{
    display: inline;
    position: relative;
    align-items: center;

}
#blur-area{
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    z-index: 1;

}
#blur{
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0;
    top: 0;
    filter: blur(0.3rem);
    /*-webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);*/
    z-index: 1;

}
nav{

    width: 100%;
    height: 100px;
    padding: 20px 8%;
    position: fixed;
    top: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    font-size: 30px;
    text-decoration: #0f0f15;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;

}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 30px;

}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;

}
#blur ul:nth-child(2) li{
    filter: blur(0);
    background-color: #49e149;

}
.text-box{
    position: relative;
    z-index: 2;
    text-align: center;
    align-items: center;
    margin: 0 100px;
    display: block;
}
.form{
    position: relative;
    z-index: 1;
    text-align: center;
    align-items: center;
    margin-top: 100px;
    display: grid;
}

.brandName{
    font-size: 30px;
}


.myCard{
    background: #037299;
    color: #fff;
    padding: 15px 30px;
    border: 0;
    outline: 0;
    cursor: pointer;
    font-size: 18px;
    border-radius:30px ;
    margin-top: 100px;
    display: block;

}
.myCard>i{
    color: white;
    font-size: 7em;
    text-align: center;
    display: block;
    padding-top: 35px;
}

.myCard>h1{
    color: white;
    font-size: 2em;
    text-align: center;
    font-family: Ubuntu;
    padding-top: 20px;

}

.myCard>h2{
    color: white;
    font-size: 3em;
    text-align: center;
    font-family: Ubuntu;
    padding-top: 2px;
}

