*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: url("image.jpg");
    background-size: cover;
    position: absolute;

}
.side-nav{
    width: 200px;
    height: 100%;
    background: #20c997;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}
.nav-links{
    list-style: none;
    position: relative;
}
.nav-links li{
    padding: 5px 0;
}
.nav-links li a{
    color: white;
    text-decoration: none;
    padding: 10px 10px ;
    display: flex;
    align-items: center;
}
.nav-links li a i{
    font-size: 22px;
    margin-right: 20px;
}
.nav-links li:hover a{
    color: #0f0f15;
    transition: 0.3s;

}
.nav-links li:hover ~ .active{
    display: block;
}
.nav-links li:nth-child(1):hover ~ .active{
    top: 3%;
}
.nav-links li:nth-child(2):hover ~ .active{
    top: 25%;
}
.nav-links li:nth-child(3):hover ~ .active{
    top:50%;
}
.nav-links li:nth-child(4):hover ~ .active{
    top: 78%;
}

.active{
    background: white;
    width: 100%;
    height: 47px;
    position: absolute;
    left: 0;
    top: 3%;
    z-index: -1;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(255,255,255,0.4);
    display: none;
    transition: 0.5s;
}
.logo{
    display: block;
    margin-bottom: 130px;
}
.logo-img{
    width: 100px;
}

.container{
    display: inline;
    position: relative;
    align-items: center;

}
#blur-area{
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    z-index: 1;

}
#blur{
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0;
    top: 0;
    filter: blur(0.3rem);
    /*-webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);*/
    z-index: 1;

}
/*.nav{

    width: 100%;
    height: 100px;
    padding: 20px 8%;
    position: fixed;
    top: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    font-size: 30px;
    text-decoration: #0f0f15;
    justify-content: space-between;
}*/
.logo{
    width: 120px;
    cursor: pointer;

}
/*nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 30px;

}*/
/*nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;

}*/
#blur ul:nth-child(2) li{
    filter: blur(0);
    background-color: #49e149;

}
.text-box{
    position: relative;
    z-index: 2;
    text-align: center;
    align-items: center;
    margin: 0 100px;
    display: block;
}
.form{
    padding-top: 92px;
    position: relative;
    z-index: 1;
    text-align: center;

    align-items: center;
    margin-top: 100px;
    display: grid;
}

#cus01{
    color: white;
}

.brandName{
    font-size: 30px;
}


.myCard{
    background: #fff;
    color: #0f0f15;
    padding: 15px 30px;
    border: 0;
    outline: 0;
    cursor: pointer;
    font-size: 18px;
    border-radius:30px ;
    margin-top: 100px;
    display: block;
   /* height: 40vh;
    width: 10vw;*/

}
.myCard>i{
    color: #49e149;
    font-size: 7em;
    text-align: center;
    display: block;
    padding-top: 35px;
}

.myCard>h1{
    color: #0f0f15;
    font-size: 2em;
    text-align: center;
    font-family: Ubuntu;
    padding-top: 20px;

}

.myCard>h2{
    color: #0f0f15;
    font-size: 3em;
    text-align: center;
    font-family: Ubuntu;
    padding-top: 2px;
}
@media only screen and (max-width: 600px) {
    .side-nav{
        width: 110px;
    }
    .logo-img{
        display: none;
    }
    .nav-links li a p {
        display: none;
    }
    .nav-links li a i {
        margin-right: 0;
    }
    .nav-links li a {
        justify-content: center;
    }
}

